@model WebMvc.Models.EventCatalogItem




<form asp-controller="Cart" asp-action="AddToCart">
    <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
    <input class="esh-catalog-button" type="submit" value="[ ADD TO CART ]" />
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <input type="hidden" asp-for="@Model.Id" name="Id" />
    <input type="hidden" asp-for="@Model.Address" name="Address" />
    <input type="hidden" asp-for="@Model.City" name="City" />
    <input type="hidden" asp-for="@Model.Datetime" name="Datetime" />
    <input type="hidden" asp-for="@Model.Description" name="description" />
    <input type="hidden" asp-for="@Model.EventCategoryId" name="categoryId" />
    <input type="hidden" asp-for="@Model.EventPlaceId" name="PlaceId" />
    <input type="hidden" asp-for="@Model.EventCategory" name="Category" />
    <input type="hidden" asp-for="@Model.EventPlace" name="place" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="PictureUrl"/>
    <input type="hidden" asp-for="@Model.Name" name="Name"/>
    <input type="hidden" asp-for="@Model.Price" name="Price"/>

</form>